<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon.mapper.TTravelUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lemon.entity.TTravelUser">
        <id column="user_uid" property="userUid" />
        <result column="user_username" property="userUsername" />
        <result column="user_password" property="userPassword" />
        <result column="user_ID" property="userId" />
        <result column="user_sex" property="userSex" />
        <result column="user_img" property="userImg" />
        <result column="user_status" property="userStatus" />
        <result column="user_phone" property="userPhone" />
        <result column="user_name" property="userName" />
        <result column="rut_time" property="rutTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_uid, user_username, user_password, user_ID, user_sex, user_img, user_status, user_phone, user_name, rut_time
    </sql>

</mapper>
